#!/usr/bin/env bash
#
# Neofetch config file
# https://github.com/dylanaraps/neofetch

# See this wiki page for more info:
# https://github.com/dylanaraps/neofetch/wiki/Customizing-Info
print_info() {
  info "OS" distro
  info "Kernel" kernel
  info "Uptime" uptime
  info "CPU" cpu
  info "GPU" gpu
  info "RAM" memory
  info "Local IP" local_ip
  info "Public IP" public_ip
}

image_backend="off"
